extends ../layout

block content

	h1= title

	div
		a(class="btn btn-md btn-primary", href="/catalog/author/create") Create Author
	br
	if(data)
		p The following are the list of authors in the Local Library database :

		ul(class="list-unstyled")
			each item in data
				li 
					strong 
						a(href=item.url) #{item.fullname}
					p ( #{item.timeline_format} )
					a(href=`/catalog/author/${item._id}/delete`, class="btn btn-xs btn-danger") Delete this Author
				br