extends ../layout

block content
	
	h1 Update Book Instance
	hr
	div(class="row")
		div(class="col-sm-6")
			form(action=`/catalog/bookinstance/${data.bookinstance._id}/update`, method="POST")
				label(for="book") Book Name
				select(name="book", class="form-control")
					option(value=null, selected=true) Select a Book
					each book in data.books
						option(selected= data && data.bookinstance.book && book._id.toString().match(data.bookinstance.book) ? true : false, value=book._id)
							= book.title
				if(errors)
					each error in errors
						if(error.param === "book")
							div(class="text-danger")
								span= error.msg

				br
				
				label(for="status") Book Status
				select(name="status", class="form-control")
					option(value=null) Select a Status
					option(class="text-success", value="Available", selected= data.bookinstance.status === 'Available' ? true : false) Available
					option(class="text-danger", value="Loaned", selected= data.bookinstance.status === 'Loaned' ? true : false) Loaned
					option(class="text-warning", value="Maintenance", selected= data.bookinstance.status === 'Maintenance' ? true : false) Maintenance
					option(class="text-warning", value="Reserved", selected= data.bookinstance.status === 'Reserved' ? true : false) Reserved
				if(errors)
					each error in errors
						if(error.param === "status")
							div(class="text-danger")
								span= error.msg
				br
				
				label(for="imprint") Imprint
				input(name="imprint", type="text", class="form-control", value = data.bookinstance.imprint)
				if(errors)
					each error in errors
						if(error.param === "imprint")
							div(class="text-danger")
								span= error.msg
				br

				label(for="dueback") Due Back
				input(name="dueback", type="date", class="form-control", value= data.bookinstance.dueback, disabled= data && data.bookinstance.status && data.bookinstance.status.match(/Available/) ? true : false)
				if(errors)
					each error in errors
						if(error.param === "dueback")
							div(class="text-danger")
								span= error.msg
				br

				div(class="btn-group")
					button(class="btn btn-xs btn-primary", type="submit") Submit
					a(class="btn btn-xs btn-danger", href="/catalog/bookinstances") Cancel
				br

